body {
    font-size: 16px;
    font-size: 1rem;
}

pre,
code,
kbd,
samp {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", -apple-system, BlinkMacSystemFont, "Yu Gothic UI", "Meiryo UI", monospace;
}

.CodeBlock .CodeBlock_code pre {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}

.CodeBlock .CodeBlock_code .highlight > div {
    overflow-x: scroll;
}

img {
    border: 1px solid #ccc;
}
